<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmployeeList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04BB1ECE1F07BB5100ACA094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BB1EE21F07BB5200ACA094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BB1EED1F07BB5200ACA094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
